.letter-box {
    width: 30px;
    padding: 10;
    margin: 10;
    line-height: '50px';
}

.letter-box[data-status="good-position"] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
}

.letter-box[data-status="bad-position"] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
}

.letter-box[data-status="not-present"]  {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.letter-box[data-status="unknown"] {
    color: rgb(255, 255, 255);
    background-color: rgb(64, 64, 64);
}