.letter-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.letter-input[data-status="0"] {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.letter-input[data-status="1"] {
    background-color: #e7eb0a;
    color: #FFFFFF;
}

.letter-input[data-status="2"] {
    background-color: #81817a;
    color: #FFFFFF;
}

.letter-input[data-status="3"] {
    background-color: #000000;
    color: #FFFFFF;
}