.keyboard-key {
    width: 50px;
    padding: 10;
    margin: 10;
}

.keyboard-key[data-status="0"] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
}

.keyboard-key[data-status="1"] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
}

.keyboard-key[data-status="2"] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.keyboard-key[data-status="3"] {
    color: rgb(255, 255, 255);
    background-color: rgb(64, 64, 64);
}