:root {
  --letter-well-placed-color: #4CAF50;
  --letter-misplaced-color: #e7eb0a;
  --letter-not-present-color: #81817a;
  --letter-unknown-color: #000;
}


/* letter input */

.letter-input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  color: #FFFFFF;
  margin: 1px;
}

.letter-input.well-placed {
  background-color: var(--letter-well-placed-color);
}

.letter-input.misplaced {
  background-color: var(--letter-misplaced-color);
}

.letter-input.not-present {
  background-color: var(--letter-not-present-color);
}

.letter-input.unknown {
  color: var(--letter-unknown-color);
}